
$main-color:                #fff;
$primary-color:             #000;
$background:                #e8e8e4d6;
$prominent-color:           #9e357f;
$secondary-color:           #723c73;
$slider-buttons-color:      #d2d2d2;
$elements-color:            #bfbfbf;
$shadow:                    #b5b5b5;
$secondary-text:            #757575;
$error:                     #fd5252;
$success:                   #3e7b40;